

.nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border-radius: 0px 0px 50px 50px;
    opacity: 0.8;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    align-items: center;
  margin-bottom: 50px;
}
.nav-item {
    margin: 0 auto;
    justify-content: space-between;
    
}
.nav-link {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    
}
.nav-link:hover {
    color: goldenrod;
}
.nav-img {
    width: 70px;
    height: 40px;
}




.navigation_div ul li a:hover {
    color: #fff;
}
.notification {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    border-radius: 20%;
    
    
    
}

