.navigation_div {
    
    background-color: black;
    opacity: 0.7;
    border-radius: 0 50% 50% 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    text-align: center;
    justify-content: center;
    
}
.navigation_div ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 30px;
    margin: 0 auto;
   
    
    
}

.navigation_div ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    
}
.navigation_div ul li a:hover {
    color: goldenrod;
}
