
 .user_grating {
   
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  color: goldenrod;
} 
.container-xl {
  background-color: black;
  opacity: 0.8;
  color: #fff;
  
}


.user_btn {
  font-style: italic;
  background-color: goldenrod;
  padding: 10px 10px 10px 10px;
  font-size: 25px;
  font-weight: bold;
  color:black;
  border: none;
  border-radius: 50%;
  
}

.btn-link {
  margin-left: 50px;
  
}

.home-container {
  margin-top: 40px;
  height: 68vh;
}
.btn-holder {
  margin-top: 80px;
}

.user_btn:focus{
  border: none;
  outline: none;
}
@-webkit-keyframes user_btn {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes user_btn {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.user_btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.user_btn:hover, .user_btn:focus, .user_btn:active {
  -webkit-animation-name: user_btn;
  animation-name: user_btn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.user_btn:hover {
    cursor: pointer;
}







